body {
  width: 100%; }
  body form {
    width: 80%; }

img {
  max-height: 600px;
  object-fit: cover; }

body {
  margin: 0 0 50px 0;
  padding: 0;
  background: radial-gradient(circle, #a1a1a1 21%, #27303b 100%);
  background-size: cover; }
  body nav i {
    color: #424952; }
  body .jumbotron {
    background: radial-gradient(circle, #a1a1a1 21%, #27303b 100%); }

.card {
  box-shadow: 0 0 17px 4px rgba(0, 0, 0, 0.75);
  margin: 50px; }
