
$background: linear-gradient(180deg, rgba(161,161,161,1) 30%, rgba(39,48,59,1) 89%);
$jumbocolor: linear-gradient(180deg, rgba(39,48,59,1) 16%, rgba(161,161,161,1) 84%);



body{
  margin: 0 0 50px 0;
  padding: 0;
  background: $background;
  background-size: cover;

    nav{
      i{
        color: #424952;
      }
    }

  .jumbotron{
background: $jumbocolor;
  }

}

@import "_contact";
@import "_shop";
@import "_index";


